.plugin-webapp_custom-dock {
  padding: 0px;
  overflow: visible;
}

.plugin-webapp_custom-dock .webapp {
  padding: 4px;
  margin: 2px 6px;
  border: 1px solid transparent;
  font-size: 16px;
}

.plugin-webapp_custom-dock .webapp:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--b3-list-icon-hover);
}

.plugin-webapp_custom-dock .webapp span.func-btn {
  display: none;
}

.plugin-webapp_custom-dock .webapp:hover span.func-btn {
  display: inline;
}

.plugin-webapp_custom-dock .webapp svg {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.inline-icon {
  width: 14px;
  height: 14px;
}

.webapp-view {
  position: relative;

  #controller {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    padding: 4px 2px;
    opacity: 0;
    & > span {
      margin: 0 6px;
    }
    &:hover,&:focus {
      opacity: 1;
    }
  }
}
